@use '../variables' as variables;

.contacts {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  overflow-y: overlay;

  & li {
    width: 100%;
    height: 40px;
  }

  &__link {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    border-radius: 8px;

    color: variables.$darkFontPrimaryColor;

    &:hover, &:focus {
      opacity: 0.8;

      background-color: variables.$primaryColor;
      color: #fff;
    }
    &:focus {
      opacity: 1;
    }
  }
  &__name {
    padding-left: 5px;

    font-size: 1.5em;
  }
  &__avatar {
    width: 30px;;
    height: 30px;

    font-size: 0.7em;
  }
}