@use '../variables' as variables;

.content {
  position: relative;

  &__header {
    height: 70px;
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: variables.$darkFontPrimaryColor;

    border-bottom: 1px solid #fff;
  }
  &__name {
    width: 100%;
    padding: 0 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: #fff;
  }
}