.messages {
  width: 100%;
  height: 100%;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  color: #fff;

  font-size: 1em;
}
.message {
  width: 100%;
}