@use '../variables' as variables;

.input {
  width: 100%;
  height: 100%;

  background: none;
  color: inherit;

  font-size: 1em;

  &__search {
    width: 100%;
    height: 30px;

    position: relative;

    & svg {
      width: 14px;

      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
    }
    & input {
      padding-left: 18px;
      padding-right: 2px;

      border-bottom: 1px solid #fff;

      &:focus {
          border-color: variables.$primaryColor;
      }
    }
  }
}