$backgroundColor: #E8E8EB;
$fontColor: #000000;
$fontPrimaryColor: #A4A4A4;
$labelColor: #5F6164;
$primaryColor: #3577EF;
$darkfontPrimaryColor: #B5B5B5;
$darkBackgroundcolor: #25272A;
$darkFontColor: #FFFFFF;
$errorColor: #CA0707;