@use './variables' as variables;

.auth {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: variables.$backgroundColor;

    &__form {
        padding: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 20px;

        background-color: #fff;
    }
    & h1 {
        font-size: 2.5em;
        margin-bottom: 30px;
    }
    &__input {
        width: 20em;
        height: 40px;
        margin-bottom: 30px;

        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        & input {
            width: 100%;
            height: 100%;
            padding-left: 25px;

            border-bottom: 2px solid variables.$fontColor;

            font-size: 1em;

            &:focus {
                border-color: variables.$primaryColor;
            }
        }
        & .img-container {
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);

            & svg {
                height: 24px;
            }
        }
        & .end {
            left: auto;
            right: 2px;

            &:hover {
                opacity: 0.5;
            }
        }

        &_error {
            & input {
                border-color: variables.$errorColor;
            }
        }
    }
    &__btn {
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    &__password input {
        padding-right: 25px;
    }
    &__error {
        width: 100%;

        position: absolute;
        top: 100%;
        left: 0;

        word-break: break-all;
        color: variables.$errorColor;

        font-size: 0.8em;
    }
    & a:hover, & a:focus {
        opacity: 0.5;
    }
}