@use './variables' as variables;

.chat {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    background-image: url('../assets/img/bg.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    &__sidebar {
        height: 100%;
        width: 20%;
        padding: 30px 5px 10px 5px;

        color: #fff;
        background-color: variables.$darkBackgroundcolor;
        mix-blend-mode: normal;
        opacity: 0.75;

        &--header {
            width: 100%;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
        }
    }
}
.contacts {
    height: calc(100% - 25px);
    width: 100%;
    padding-bottom: 10px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & ul {
        width: 100%;
        height: 100%;
        padding-right: 5px;

        overflow-y: overlay;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;

        & li {
            width: 100%;

            border-radius: 8px;
        }
    }
    & a {
        color: variables.$darkfontPrimaryColor;
    }
    &__item {
        width: 100%;
        height: 34px;
        padding: 5px 10px 5px 5px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 8px;
        & div {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        &:focus {
            opacity: 0.5;
        }
    }
    &__channel {
        padding: 0 10px;
    }
    &__active {
        color: #fff;
        background-color: rgba(#fff, 0.2);
    }
    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__unread {
        padding-left: 5px;

        color: variables.$primaryColor;

        text-align: end;
    }
    &__online {
        width: 8px;
        height: 8px;

        border-radius: 50%;

        background-color: #666666;
    }
    &__avatar {
        width: 34px;
        height: 100%;
        margin: 0 2px;
    }
    &_list {
        height: 100%;
        padding-top: 5px;

        & ul {
            margin-top: 10px;
        }
        .contacts__item {
            height: 40px;
            padding: 0;

            justify-content: flex-start;
            gap: 10px;

            color: #fff;
        }
        .contacts__name {
            overflow: hidden;
            text-overflow: ellipsis;

            color: inherit;
        }
        .contacts__avatar {
            height: 36px;
        }
    }
}
.online {
    background-color: #70CC16;
}
.messages {
    width: 60%;
    height: 100%;

    background-color: rgba(#000, 0.5);
}
.info {
    width: 20%;
    height: 100%;
    padding: 10px;

    overflow-y: overlay;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    color: #fff;
    background-color: rgba(#25272A, 0.75);
    &__header, &__content {
        padding: 0 10px;
    }
    &__header {
        width: 100%;
        padding-bottom: 10px;

        &-channel {
            padding-top: 40px;
        }
    }
    &__avatar {
        width: 100%;
        height: 200px;
    }
    &__text {
        line-height: 150%;
    }
    &__title {
        display: inline-block;

        font-size: 1.4em;
    }
    &__label {
        color: variables.$fontPrimaryColor;
    }
    &__btn {
        width: 100%;
        margin-top: 10px;
        
        text-transform: uppercase;

        &-channel {
            margin-top: 0;
        }

        &:hover, &:focus {
            color:rgba(#25272A, 0.75);
        }
    }
    &__container {
        margin-bottom: 15px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;

        & a {
            color: variables.$primaryColor;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }
    &__members {
        width: 100%;
        height: auto;
        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        &--title {
            width: 100%;
            padding-right: 15px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            background: none;

            font-size: 1em;

            & span {
                color: variables.$primaryColor;
            }
            &:hover, &:focus {
                opacity: 0.5;
            }
        }
        & ul {
            height: auto;
            margin: 0;
        }
    }
    & .contacts__item {
        color: variables.$darkfontPrimaryColor;
    }
    &__link {
        margin-top: 20px;
        margin-bottom: 5px;

        color: variables.$primaryColor;
        background: none;
        
        word-break: break-all;

        cursor: pointer;

        &--status {
            width: 100%;
            height: 1.5em;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            font-size: 1em;
        }
        &--hide {
            opacity: 0;
            transition: all 4s;
        }
        &:hover, &:focus {
            opacity: 0.8;
            text-decoration: underline;
        }
        &:disabled {
            opacity: 0.5;
        }
    }
    &__attach {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        
        & button {
            width: 100%;
            height: 2em;
            padding: 0 15px 0 10px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: rgba(#fff, 0.2);

            border-radius: 5px;

            cursor: pointer;

            &:first-child {
                padding: 0;
                
                background: none;
            }
            &:focus, &:hover {
                opacity: 0.5;
            }
        }
        & span {
            color: variables.$primaryColor;
        }
    }
}