@use './variables' as variables;

.chat {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    background-image: url('../assets/img/bg.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;

    &__sidebar {
        height: 100%;
        width: 19%;
        padding: 30px 5px 10px 5px;

        color: #fff;
        background-color: variables.$darkBackgroundcolor;
        mix-blend-mode: normal;
        opacity: 0.75;

        &--header {
            width: 100%;
            height: 25px;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
        }

        &--search {
            width: 100%;
            height: 100%;

            position: relative;

            & svg {
                width: 14px;

                position: absolute;
                top: 50%;
                left: 2px;
                transform: translateY(-50%);
            }
            & input {
                padding-left: 18px;
                padding-right: 2px;

                border: 1px solid #fff;

                &:focus {
                    border-color: variables.$primaryColor;
                }
            }
        }
    }
    &__contacts {
        padding: 10px 0 10px 0;

        & a {
            color: variables.$darkfontPrimaryColor;
        }
        &--header {
            padding-right: 10px;
            padding-bottom: 10px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            color: #919191;
            text-transform: uppercase;
        }
        & ul {
            width: 100%;
            height: 170px;

            overflow-y: auto;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            & li {
                width: 100%;
            }
        }
        &--item {
            width: 100%;
            min-height: 30px;
            padding: 0 5px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            border-radius: 8px;

            &_active {
                color: #fff;
                background-color: rgba(#fff, 0.2);
            }
            & div {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            &:focus {
                opacity: 0.5;
            }
        }
        &--name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--unread {
            padding-left: 5px;

            color: variables.$primaryColor;

            text-align: end;
        }
        &--avatar {
            width: 34px;
            height: 34px;
            margin: 0 2px;

            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}
.channels {
    padding-top: 20px;
}
.friends {
    & a {
        padding-left: 2px;
    }
    & ul {
        height: 200px;
        gap: 8px;
    }
    &__online {
        width: 8px;
        height: 8px;

        border-radius: 50%;

        background-color: #666666;
    }
}
.online {
    background-color: #70CC16;
}