@use './variables' as variables;

.modal {
  width: 100%;
  height: 100%;
  padding: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 15px;

  background-color: variables.$darkBackgroundcolor;
  color: variables.$darkFontColor;

  animation: modalShow 0.5s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: -0.2s;

  &_hide {
    animation: modalHide 0.5s forwards;
  }
  &-container {
    height: 540px;
    width: 440px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__header {
    width: 100%;
    padding: 5px 0 10px 0;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.5em;
  }
  &__user {
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    & picture {
      width: 90px;
      height: 90px;
    }
    &--info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      & span {
        display: inline-block;
      }
    }
    &--username {
      font-size: 1.2em;
    }
  }
  &__menu {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
  }
  &__btn {
    width: 100%;
    height: 40px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    background-color: rgba(variables.$fontPrimaryColor, 0.2);
    color: inherit;

    border-radius: 8px;

    &_abs {
      position: absolute;
      background: none;
    }

    & svg {
      width: 20px;
      height: 24px;
    }
    &:hover, &:focus {
      background-color: rgba(variables.$primaryColor, 0.5);
    }
  }
  &__logout {
    height: auto;
    width: auto;
    bottom: 0;
    left: 0;

    &:hover, &:focus {
      background: none;
    }
  }
  &__theme {
    right: 0;
    bottom: 0;
  }
  &__content {
    width: 100%;

    overflow-y: auto;
    overflow-y: overlay;

    gap: 5px;

    & .input__search {
      margin-bottom: 10px;
    }
  }
  &__profile {
    &--top {
      width: 100%;
      padding-bottom: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    & picture {
      width: 150px;
      height: 150px;
    }
    &--title {
      font-size: 1.2em;
    }
    &--bio {
      margin-bottom: 20px;
    }
    &--btn {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      margin-bottom: 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border-radius: 8px;

      background: none;
      color: #fff;

      & span {
        &:first-child {
          color: variables.$fontPrimaryColor;
        }
      }
      &:hover, &:focus {
        background-color: rgba(variables.$primaryColor, 0.5);
      }
    }
    &--avatar {
      position: relative;
      
      overflow: hidden;

      border-radius: 50%;

      cursor: pointer;

      &-change {
        width: 100%;
        height: 30%;

        position: absolute;
        bottom: 0;
        left: 0;

        display: none;
        align-items: center;
        justify-content: center;

        background-color: rgba($color: variables.$darkBackgroundcolor, $alpha: 0.5);

        cursor: pointer;

        & input {
          display: none;
        }
      }

      &:hover {
        .modal__profile--avatar-change {
          display: flex;
        }
      }
    }
  }
  & .btn-group {
    padding-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & .btn {
      width: 120px;

      font-size: 1.2em;
    }
  }
  &-component {
    height: 200px;
  }
}
#modal-level2 {
  .modal {
    &__header {
      justify-content: flex-start;
      gap: 20px;
    }
  }
}
#modal-level3 {
  min-height: 200px;
  height: auto;
  width: 350px;

  align-items: center;
  justify-content: center;
  gap: 15px;

  box-shadow: 0 0 50px variables.$primaryColor;

  animation: none;

  & .input {
    height: 1.7em;

    font-size: 1.5em;

    &:hover {
      border-bottom: 1px solid variables.$fontPrimaryColor;
    }
    &:focus {
        border-bottom: 1px solid variables.$primaryColor;
    }
  }
}
.modal-level3__username {
  width: 100%;
  position: relative;
  
  & input {
    padding-left: 1em;

    text-transform: lowercase;

    &::placeholder {
      text-transform: none;
    }
  }

  &::before {
    content: '@';
    width: 1.5em;
    height: 1.5em;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.5em;
  }
}
.modal-component {
  width: 400px;
  min-height: 175px;
  height: auto;
  padding: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  color: variables.$darkfontPrimaryColor;
  background-color: variables.$darkBackgroundcolor;

  box-shadow: 0 0 5px variables.$primaryColor;

  border-radius: 20px;

  animation: modalComponentShow 0.5s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: -0.2s;

  &_hide {
    animation: modalComponentHide 0.5s forwards;
  }

  &__header {
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__type {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
  }
  &__close {
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;
  }
  &__content {
    width: 100%;
    padding: 20px 0;
  }
  & .btn-group {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &_error {
    & .modal-component {
      &__type {
        color: variables.$errorColor;
      }
    }
  }
}
@keyframes modalShow {
  0% {
      left: 100%;
  }
  100% {
      left: 0%;
  }
}
@keyframes modalHide {
  0% {
      left: 0%;
  }
  100% {
      left: 100%;
  }
}
@keyframes modalComponentShow {
  0% {
    top: -75%;
  }
  100% {
    top: 0;
  }
}
@keyframes modalComponentHide {
  0% {
    top: 0;
  }
  100% {
    top: -75%;
  }
}